<div class="row-fluid">
  <div class="span4">
    <h3><%= t('apipie.form_example') %></h3>
    <form class="form-horizontal" role="apis">
      <div class="control-group">
        <label class="control-label" for="request"><%= t('apipie.request') %></label>
        <div class="controls">
          <select role="api">
            <% method[:apis].each do |api| %>
              <option><%= api[:http_method] %> <%= api[:api_url] %></option>
            <% end %>
          </select>
        </div>
      </div>
      <div class="result">
      </div>
    </form>
    <form class="form-horizontal" role="api-params">
      <%= render(:partial => "params_form", :locals => {:params => method[:params]}) if method[:params].present? %>
      <button type="submit" class="btn btn-primary pull-right"><%= t('apipie.submit') %></button>
    </form>
  </div>
  <div class="span8" role="info">
    <h4><%= t('apipie.request') %></h4>
    <pre role="url"></pre>
    <h4><%= t('apipie.request_body') %></h4>
    <pre role="body"></pre>
    <h4><%= t('apipie.responce') %></h4>
    <pre role="status"></pre>
    <h4><%= t('apipie.responce_body') %></h4>
    <pre role="responce"></pre>
  </div>
</div>
